.header {
    height: 98vh;
    width: 98vw;
    /*gradient with "background-image" - left is on top of right parameter*/
    //background-image: linear-gradient( to right bottom, $color-green-light-1, $color-green-dark-1), url(/app/img/dist/hero.jpeg);
    /*gets full image in parent*/
    background-size: cover;
    /*so it sticks to top (good for responsivness)*/
    background-position: top;
    /*cut out bottom right corner of image (x y,x y, x y) - (top left, top right, bottom right, bottom left)*/
    //clip-path: polygon(0 0, 100% 0, 100% 65%, 0 90%);
    /*so the .logo-box's position:absolute references to this container (.header)*/
    position: relative;
    margin: 0 auto;
    //margin-top: 1vh;
    &__logo-box {
        //position: relative;
        //top: 7rem;
        //left: 4rem;
        //border: 1px solid black;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        //background-color: $color-white;
    }
    &__logo {
        height: 30rem;
    }
    &__text-box {
        /*centering container by using position absolute and top left 50% - correct centering with transform*/
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__icon {
        position: absolute;
        top: 90%;
        left: 50%;
        opacity: .2;
        color: white;
        transform: translate(-50%, -50%);
        animation: opacityBlinking 3s infinite;
        animation-fill-mode: both;
    }
}

@keyframes opacityBlinking {
    0% {
        opacity: .0;
    }
    50% {
        opacity: .2;
    }
    100% {
        opacity: .0;
    }
}