$color-green-light-1: #7ed56fb0;
$color-green-dark-1: #28b485b2;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

/*font*/

$default-font-family: 'Roboto',
sans-serif!important;
$default-font-size: 1.6rem;